In [1]:
import pandas as pd

In [2]:
lessons = pd.read_csv('lessons.txt', sep='|', index_col=False)
lessons = lessons.dropna()
lessons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 1 to 378
Data columns (total 4 columns):
                  id                      378 non-null object
 event_id                                 378 non-null float64
 subject                                  378 non-null object
       scheduled_time                     378 non-null object
dtypes: float64(1), object(3)
memory usage: 14.8+ KB

In [3]:
lessons.head()

,id,event_id,subject,scheduled_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568.0,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790.0,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00

#### Переименовал столбцы в lessons

In [4]:
lessons.set_axis(['lesson_id', 'event_id', 'subject', 'scheduled_time'], axis='columns', inplace=True)
lessons.head()

,lesson_id,event_id,subject,scheduled_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568.0,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790.0,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00

#### Поменял типы данных - там, где нужно:

In [5]:
lessons['event_id'] = lessons['event_id'].astype('int')
lessons['scheduled_time'] = pd.to_datetime(lessons['scheduled_time'], format='%Y-%m-%d %H:%M:%S')
lessons['moscow_time'] = lessons['scheduled_time'] + pd.Timedelta(hours=3)
lessons.head()

,lesson_id,event_id,subject,scheduled_time,moscow_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19 15:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00,2020-01-19 16:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00,2020-01-19 16:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17 15:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19 17:00:00

In [6]:
lessons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 1 to 378
Data columns (total 5 columns):
lesson_id         378 non-null object
event_id          378 non-null int32
subject           378 non-null object
scheduled_time    378 non-null datetime64[ns]
moscow_time       378 non-null datetime64[ns]
dtypes: datetime64[ns](2), int32(1), object(2)
memory usage: 16.2+ KB

In [7]:
lessons['subject'].value_counts()

 phys        184
 bio          78
 hist         60
 it           56
Name: subject, dtype: int64

#### Сделал выборку только уроков по физике:

In [8]:
phys_lessons = lessons[lessons['subject'] == ' phys    '].reset_index(drop=True)
phys_lessons.head()

,lesson_id,event_id,subject,scheduled_time,moscow_time
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19 15:00:00
1,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17 15:00:00
2,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19 17:00:00
3,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19 18:00:00
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00

In [9]:
phys_lessons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 5 columns):
lesson_id         184 non-null object
event_id          184 non-null int32
subject           184 non-null object
scheduled_time    184 non-null datetime64[ns]
moscow_time       184 non-null datetime64[ns]
dtypes: datetime64[ns](2), int32(1), object(2)
memory usage: 6.6+ KB

In [10]:
quality = pd.read_csv('quality.txt', sep='|')
quality = quality.dropna()
quality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 2 columns):
              lesson_id                   365 non-null object
 tech_quality                             365 non-null object
dtypes: object(2)
memory usage: 8.6+ KB

#### Переименовал столбцы в quality:

In [11]:
quality.set_axis(['lesson_id', 'tech_quality'], axis='columns', inplace=True)
quality.head()

                                lesson_id   tech_quality
1   6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a               5
2   62e1a078-33de-47c1-99d2-845b1daca56f               5
3   62e1a078-33de-47c1-99d2-845b1daca56f               5
4   00fc6685-f53a-49bb-b960-5e0042fd3852               5
5   00fc6685-f53a-49bb-b960-5e0042fd3852               5

In [12]:
quality['tech_quality'].value_counts()

            5    307
            4     24
                  16
            3      9
            2      6
            1      3
Name: tech_quality, dtype: int64

#### Перевёл оценки в числовые значения, float:

In [13]:
quality['tech_quality'] = pd.to_numeric(quality['tech_quality'], errors='coerce')

In [14]:
quality['tech_quality'].value_counts()

5.0    307
4.0     24
3.0      9
2.0      6
1.0      3
Name: tech_quality, dtype: int64

#### Посчитал среднюю оценку по lesson_id в таблице quality:

In [15]:
quality_table = quality.pivot_table(index='lesson_id', values='tech_quality')

#### Соединил таблицу уроков физики с таблицей средних оценок по lesson_id:

In [16]:
lessons_quality = phys_lessons.merge(quality_table, how='inner', on='lesson_id')
lessons_quality.head()

,lesson_id,event_id,subject,scheduled_time,moscow_time,tech_quality
0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17 15:00:00,5.0
1,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0
2,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19 18:00:00,5.0
3,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0
4,7d56b43a-d137-446d-8570-8d7d5ccbaee9,51153,phys,2020-01-20 17:00:00,2020-01-20 20:00:00,5.0

In [17]:
participants = pd.read_csv('participants.txt', sep='|')
participants = participants.dropna()
participants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 743
Data columns (total 2 columns):
 event_id                                 743 non-null object
               user_id                    743 non-null object
dtypes: object(2)
memory usage: 17.4+ KB

#### Переименовал столбцы в participants:

In [18]:
participants.set_axis(['event_id', 'user_id'], axis='columns', inplace=True)
participants.head()

     event_id                                user_id
1      38114    e28351f5-4ccb-4549-8647-d43f2b15e7b8
2      38114    4df2832a-1d63-4453-9659-43993fc35996
3      51568    bb1c0bc8-1212-452b-97a0-439d4a2169e2
4      51568    63441abe-c4da-4275-ba26-66f7dbd65dde
5      52790    a1323b68-c82c-429a-8e2c-65597e648c1a

#### Перевёл значения event_id в целочисленный тип:

In [19]:
participants['event_id'] = participants['event_id'].astype('int')

In [20]:
participants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 743
Data columns (total 2 columns):
event_id    743 non-null int32
user_id     743 non-null object
dtypes: int32(1), object(1)
memory usage: 14.5+ KB

In [21]:
users = pd.read_csv('users.txt', sep='|')
users = users.dropna()
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 743
Data columns (total 2 columns):
                  id                      743 non-null object
 role                                     743 non-null object
dtypes: object(2)
memory usage: 17.4+ KB

#### Переименовал столбцы в последней таблице:

In [22]:
users.set_axis(['user_id', 'role'], axis='columns', inplace=True)
users.head()

                                  user_id    role
1   e28351f5-4ccb-4549-8647-d43f2b15e7b8    pupil
2   4df2832a-1d63-4453-9659-43993fc35996    tutor
3   bb1c0bc8-1212-452b-97a0-439d4a2169e2    pupil
4   63441abe-c4da-4275-ba26-66f7dbd65dde    tutor
5   a1323b68-c82c-429a-8e2c-65597e648c1a    tutor

#### Сджойнил partcipants с users по user_id:

In [23]:
participants_users = participants.merge(users, on='user_id', how='left', left_index=True, right_index=True)

In [24]:
participants_users.head()

   event_id                                user_id    role
1     38114   e28351f5-4ccb-4549-8647-d43f2b15e7b8   pupil
2     38114   4df2832a-1d63-4453-9659-43993fc35996   tutor
3     51568   bb1c0bc8-1212-452b-97a0-439d4a2169e2   pupil
4     51568   63441abe-c4da-4275-ba26-66f7dbd65dde   tutor
5     52790   a1323b68-c82c-429a-8e2c-65597e648c1a   tutor

#### Выбрал в полученной новой таблице только учителей:

In [25]:
participants_tutors = participants_users[participants_users['role'] == ' tutor']
participants_tutors.head()

   event_id                                user_id    role
2     38114   4df2832a-1d63-4453-9659-43993fc35996   tutor
4     51568   63441abe-c4da-4275-ba26-66f7dbd65dde   tutor
5     52790   a1323b68-c82c-429a-8e2c-65597e648c1a   tutor
8     51341   30a19496-bdaf-461c-abbc-2709ae520201   tutor
9     55048   43efce48-94b2-4412-857f-223d45969008   tutor

#### Сделал таблицу для анализа, уроков, средней оценки и учителей:

In [26]:
sub_total_data = lessons_quality.merge(participants_tutors, how='inner', on='event_id')
sub_total_data.head()

,lesson_id,event_id,subject,scheduled_time,moscow_time,tech_quality,user_id,role
0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17 15:00:00,5.0,30a19496-bdaf-461c-abbc-2709ae520201,tutor
1,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,43efce48-94b2-4412-857f-223d45969008,tutor
2,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19 18:00:00,5.0,43efce48-94b2-4412-857f-223d45969008,tutor
3,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,8fe03f08-8581-430c-a590-9888ab36deb3,tutor
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,8fe03f08-8581-430c-a590-9888ab36deb3,tutor

#### Добавил новый столбец - с округленной до дня даты урока:

In [27]:
sub_total_data['moscow_time_date'] = sub_total_data['moscow_time'].dt.floor('1D')
sub_total_data.head()

,lesson_id,event_id,subject,scheduled_time,moscow_time,tech_quality,user_id,role,moscow_time_date
0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17 15:00:00,5.0,30a19496-bdaf-461c-abbc-2709ae520201,tutor,2020-01-17
1,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,43efce48-94b2-4412-857f-223d45969008,tutor,2020-01-19
2,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19 18:00:00,5.0,43efce48-94b2-4412-857f-223d45969008,tutor,2020-01-19
3,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,8fe03f08-8581-430c-a590-9888ab36deb3,tutor,2020-01-19
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19 17:00:00,5.0,8fe03f08-8581-430c-a590-9888ab36deb3,tutor,2020-01-19

#### Сгруппировал данные по датам и по учителям (физики), с учётом полученных ими средних оценок:

In [28]:
sub_total_pivot = sub_total_data.pivot_table(index=['moscow_time_date', 'user_id'], values='tech_quality')

In [29]:
sub_total_pivot

                                                        tech_quality
moscow_time_date user_id
2020-01-11        20ee67a0-1c94-4828-9a09-49c16b65f4b5      5.000000
                  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff      5.000000
                  30a19496-bdaf-461c-abbc-2709ae520201      5.000000
                  43efce48-94b2-4412-857f-223d45969008      5.000000
                  603b8641-c6f6-4d89-ac89-88e50d45aa0d      4.900000
...                                                              ...
2020-01-20        30a19496-bdaf-461c-abbc-2709ae520201      4.666667
                  43efce48-94b2-4412-857f-223d45969008      4.500000
                  696c838e-c054-4e9f-a51a-50bf5660f364      5.000000
                  b37ccae8-fc31-4ad8-8f55-ca855b23fbf6      5.000000
                  be676776-8366-4c71-8a35-d58014806eb5      5.000000

[94 rows x 1 columns]

#### Нашёл минимальные средние оценки, полученные в каждую из дат:

In [30]:
sub_total = sub_total_pivot.groupby('moscow_time_date').min()
sub_total

                  tech_quality
moscow_time_date
2020-01-11                 3.0
2020-01-12                 4.9
2020-01-13                 5.0
2020-01-14                 4.0
2020-01-15                 5.0
2020-01-16                 4.0
2020-01-17                 4.5
2020-01-18                 2.0
2020-01-19                 4.5
2020-01-20                 4.5

#### Перевёл значения мин. средних оценок и дат в списки:

In [31]:
min_quality_list = sub_total['tech_quality'].tolist()
print(min_quality_list)

[3.0, 4.9, 5.0, 4.0, 5.0, 4.0, 4.5, 2.0, 4.5, 4.5]

In [32]:
dates_df = sub_total.reset_index()
dates_list = dates_df['moscow_time_date'].tolist()

#### Сбросил индексы в датафрейме, чтобы было легче его "разделить" на значения:

In [33]:
df = sub_total_pivot['tech_quality'].reset_index()
df

   moscow_time_date                                user_id  tech_quality
0        2020-01-11   20ee67a0-1c94-4828-9a09-49c16b65f4b5      5.000000
1        2020-01-11   2fa2ab62-f1b0-4036-872f-bcfd9a8686ff      5.000000
2        2020-01-11   30a19496-bdaf-461c-abbc-2709ae520201      5.000000
3        2020-01-11   43efce48-94b2-4412-857f-223d45969008      5.000000
4        2020-01-11   603b8641-c6f6-4d89-ac89-88e50d45aa0d      4.900000
..              ...                                    ...           ...
89       2020-01-20   30a19496-bdaf-461c-abbc-2709ae520201      4.666667
90       2020-01-20   43efce48-94b2-4412-857f-223d45969008      4.500000
91       2020-01-20   696c838e-c054-4e9f-a51a-50bf5660f364      5.000000
92       2020-01-20   b37ccae8-fc31-4ad8-8f55-ca855b23fbf6      5.000000
93       2020-01-20   be676776-8366-4c71-8a35-d58014806eb5      5.000000

[94 rows x 3 columns]

#### Создал финальный список, состоящий из значений: даты, учителя с мин. средней оценкой и самой оценкой. Создавал его в цикле, который для каждой даты добавлял юзера с мин. оценкой в финальный список.

In [34]:
final_df_list = []
for i in range(len(dates_list)):
    dfx = df.loc[df['moscow_time_date'] == dates_list[i]]
    df_final = dfx.loc[dfx['tech_quality'] == min_quality_list[i]].reset_index(drop=True)
    df_final_list = df_final['user_id'].tolist()
    final_df_list.append([dates_list[i], df_final_list[0], min_quality_list[i]])

#### Перевёл финальный список в датафрейм - для вывода ответа:

In [35]:
final_columns = ['moscow_date', 'user_id', 'quality']
final_df = pd.DataFrame(data=final_df_list, columns=final_columns)
final_df

  moscow_date                                user_id  quality
0  2020-01-11   f2f25148-97cb-422d-a5b5-b0dabbca0523      3.0
1  2020-01-12   696c838e-c054-4e9f-a51a-50bf5660f364      4.9
2  2020-01-13   2fa2ab62-f1b0-4036-872f-bcfd9a8686ff      5.0
3  2020-01-14   c6718d0e-976c-4d6c-b0e0-32c770776567      4.0
4  2020-01-15   2dc9cc26-03a4-4375-a547-6ef6f28b41a4      5.0
5  2020-01-16   c8ff5fea-4d0a-4a87-81e4-df6c2082aa0c      4.0
6  2020-01-17   89ecabe9-7768-4cc3-a126-afa0fba1052a      4.5
7  2020-01-18   9d9029a2-c81a-49f7-84ee-7696eecd2f99      2.0
8  2020-01-19   b323a494-40c0-4522-8d63-4d4d591a1def      4.5
9  2020-01-20   43efce48-94b2-4412-857f-223d45969008      4.5